/*=============Общие==============*/
:root {
  --primary-font-color: #757575;
  --fonts-accent-color: #212121;
  --hover-accent: #2196f3;
  --color-light: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 100px 15px;
  margin: auto;
}

/*=============/Общие==============*/

/*=============Header==============*/
.logo,
.logo:visited,
.logo:focus,
.logo:hover {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;

  margin-right: 90px;
}

.logo-color {
  color: var(--hover-accent);
}

.navigation,
.navigation:visited {
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--fonts-accent-color);
}

.navigation:hover,
.navigation:focus,
.list-no-style .current {
  color: var(--hover-accent);
}

.navigation .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav,
.site-nav,
.address-nav {
  display: flex;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}
.address-nav {
  margin-left: auto;
}
.address-nav .item:not(:first-child) {
  margin-left: 50px;
}
.main-nav {
  align-items: center;
}
/*=============/Header==============*/

/*=============Лозунг==============*/
.hero {
  background: #2f303a;
  text-align: center;
  /* border: 2px solid green; */
  /* test */
  min-height: 600px;
  padding-top: 200px;
  box-sizing: border-box;
}
.hero-title {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
  /* padding-top: 200px; */
  width: 696px;
  min-height: 120px;
  margin: auto;
}

.button,
.button:visited {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-light);
  background-color: var(--hover-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-height: 50px;
  width: 200px;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

/*=============/Лозунг==============*/

/*=============About==============*/
.about {
  background: rgb(165, 204, 165);
}
.about-title {
  font-weight: bold;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fonts-accent-color);
}

.about-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.about-flex {
  display: flex;
  flex-wrap: wrap;
}
/* .list-no-style.about-flex {
  padding-left: 15px;
  padding-right: 15px;
} */
.about-item {
  background-color: khaki;
  width: calc((100%-90px) / 4);
  /* width: 270px; */
  margin-right: 30px;
  margin-bottom: 30px;
}
.about-item:nth-child(4n) {
  margin-right: 0;
}
.about-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.about .container {
  background-color: grey;
}
/*=============/About==============*/

/*=============Деятельность==============*/
.work {
  background: red;
}
.work .container {
  padding-top: 0;
  padding-bottom: 0;
}
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fonts-accent-color);

  margin-top: 0;
  margin-bottom: 50px;
}
/*=============/Деятельность==============*/

/*=============Наша команда==============*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fonts-accent-color);
}
.team {
  background: #f5f4fa;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  color: var(--fonts-accent-color);
}
.team .profession {
  color: var(--primary-font-color);
}

/*=============/Наша команда==============*/

/*=============/footer==============*/
.footer {
  background: #2f303a;
}
.footer .logo {
  color: var(--color-light);
}
.address .map,
.address .map:visited,
.address .map:hover,
.address .map:focus {
  font-style: normal;
  color: var(--color-light);
}

.address .contacts,
.address .contacts:visited,
.address .contacts:hover,
.address .contacts:focus {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-light);
  opacity: 0.6;
}

/*=============/footer==============*/

/*=============Portfolio.html==============*/
.menu,
.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fonts-accent-color);
}
.menu-list:hover,
.menu-list:focus {
  color: var(--color-light);
}

.products-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--fonts-accent-color);
}

.products-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
/*=============/Portfolio.html==============*/
